@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
  margin: auto;
  padding: 0;
  background: url("images/bg.jpg") no-repeat 55%;
  position: relative;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  height: 100%; }

#particles-js {
  margin-top: -50%; }

h1 {
  font-size: 34px; }

.main {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  text-align: center; }

.main::before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.container {
  display: inline-block;
  vertical-align: middle;
  color: #eee; }
  .container span {
    font-size: 20px;
    color: #5bf; }

.footer {
  height: 75px;
  width: 100vw;
  bottom: 0px;
  position: fixed; }
  .footer span {
    color: #5bf;
    font-weight: bold;
    float: right;
    margin-top: 2em;
    margin-right: 2em; }
    .footer span:hover {
      cursor: pointer; }
