.reg-sug
{
  background:rgba(255,0,0,0.3);
  padding:10px;
  border:1px solid white;
  border-radius:4px;
  box-shadow: 1px 1px 7px #eee;
}

 .suggestion-box
{
	height:190px;
	width:50%;
	margin:auto;
	h3
	{
		color:white;
	}
	.suggest
	{
		padding:10px;
		width:80%;
	}
}
.about
{
	height:100px;
	width:50%;
	margin:70px auto;
	padding:30px;
	h1
	{
		font-family:Consolas;
		font-size:30px;
		color:white;
	}
	small
	{
		color:#aaa;
		font-size:18px;
	}
}
