@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

body
{
  padding:0;
  overflow:hidden;
  height:100vh;
  margin:0;
  width:100vw;
  background:linear-gradient(200deg,#003, #321) no-repeat center;
  color:#eee;
}

.Icons
{
  margin:auto;
  padding: 10px 0;
}

.icon
{
  display: inline-flex;
  background:rgba(204, 137, 11, 0.39);
  height:35px;
  width:35px;
  margin: 0 20px;
  border-radius: 100%;
  transition:all 500ms ease;
  box-shadow: 0px 0px 3px #ccc;

}

.icon:hover
{
  box-shadow: 0px 0px 15px #fff;
}

.Icons a
{
  color:inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color:#eee;
  height:100%;
  width:100%;
  border-radius: 100%;
}

#about-me-arrow
{
  margin:auto;
  padding-top:20px;
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	-webkit-background-size: 100px;
	color: rgba(255, 255, 255, 0.3);
	-webkit-background-clip: text;
	-webkit-animation-name: shine;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.3);
}

#about-me-arrow span:hover,
#arrow-icon img:hover
{
    cursor: pointer;
}

@keyframes shine {
	0%, 10% {
		background-position: -1000px;
	}
	20% {
		background-position: top left;
	}
	90% {
		background-position: top right;
	}
	100% {
		background-position: 1000px;
	}
}

.Details
{
  left:0;
  right:0;
  margin:0 auto;
  overflow:hidden;
  position: absolute;
  z-index: 1000;
  text-align:center;
  top:38%;
  width:45%;
  font-family: "Open Sans", sans-serif;
}

canvas
{
  opacity: 0.875;
}

.Details h2
{
  color:#eee;
  font-size: 48px;
  line-height: 0px;
  margin:20px;
}

.Details h4
{
  color:#bbb;
  font-size:1em;
  display: inline-block;
}

.ParticleMe
{
  overflow: hidden;
  position: absolute;
  height:100%;
  width:100%;
}

.particle-container
{
  position: absolute;
}

.panel
{
  display: none;
}

@media screen and (max-width:870px)
{
  .Details
  {
    width:100%;
  }
}

@media screen and (max-width: 720px)
{
    .Details h2
    {
      font-size:34px;
    }


}
