.text-wrangler
{
  z-index: 1000;
  padding:40px;
  width:100%;
  h1
  {
    text-align: center;
    color:#222;
    font-size:54px;
    font-family:$bold-set;
  }
  small
  {
    color:#555;
  }
  .blog-info
  {
    text-align: center;
    font-size:16px;
  }
  p
  {
    line-height: 35px;
    font-size:18px;
  }
}
.back-button
{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100px;
  padding:5px;
  background:rgba(20,80,120,0.8);
  border:2px solid white;
  margin:auto;
  border-radius: 4px;
  &:hover
  {
    cursor: pointer;
  }
  h4
  {
    color:white;
  }
  a
  {
    text-align: center;
  }
}
