@mixin transition($time)
{
  -webkit-transition:all $time ease;
  -ms-transition:all $time ease;
  -moz-transition:all $time ease;
  transition:all $time ease;
}
p,h1,h2,h3,h4,h5
{
  font-family:'Lato' , Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: white;
}
body
{
  padding:0;
  margin:0;
  height:100%;
  overflow-x: hidden;
}
img
{
  &:hover
  {
    cursor: pointer;
  }
}
.billboard
{
  padding-top:100px;
  height:820px;
  width:100%;
  background:url("/psdpractice01/images/main-board.png") no-repeat;
  .text-wrapper
  {
    padding:20px;
    width:400px;
    text-align: center;
    margin:auto;
  }
  h1
  {
    font-size:70px;
  }
  h4
  {
    color:rgb(208,231,233);
    font-size:16px;
    line-height: 30px;
  }
}
.ipad
{
  background:url("/psdpractice01/images/ipad-bg.png") no-repeat center center;
  overflow: hidden;
  //padding-bottom:50px;
  .left-text-wrapper
  {
    float:left;
    width:50%;
    padding:0px 0px 0px 100px;
    h1
    {
      font-size:45px;
    }
    p
    {
      line-height: 30px;
    }
    .download
    {
      border-radius: 4px;
      padding:5px;
      width:300px;
      border:2px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top:20px;
      @include transition(500ms);
      &:hover
      {
        cursor: pointer;
        box-shadow: 0px 0px 25px #eee;
      }
    }
  }
  .right-container
  {
    height:0px;
    float:right;
    background:url("/psdpractice01/images/ipad.png") no-repeat;
    width:45%;
    overflow-y: hidden;
    padding-top: 120px;
    img.pop
    {
      opacity:1;
    }
    #six
    {
      transition:opacity 1000ms ease 0s;
    }
    #five
    {
      transition:opacity 1000ms ease 1s;
    }
    #four
    {
      transition:opacity 1000ms ease 2s;
    }
    #three
    {
      transition:opacity 1000ms ease 3s;
    }
    #two
    {
      transition:opacity 1000ms ease 4s;
    }
    #one
    {
      transition:opacity 1000ms ease 5s;
    }
    img:nth-child(even)
    {
      margin-left: 300px;
    }
    img
    {
      margin-top:20px;
      margin-left:200px;
      display: block;
      height:70px;
      opacity: 0;
    }
  }
}
.gray-board
{
  height:630px;
  width: 100%;
  padding:1px;
  background: url("/psdpractice01/images/gray-board.png") no-repeat center 0px;
  text-align: center;
  h1
  {
    font-size:50px;
  }
  small
  {
    color:#bbb;
    font-weight: 400;
    font-size: 20px;
  }
  .face-container
  {
    height:150px;
    width:150px;
    margin:60px auto;
    border:5px solid white;
    border-radius:100%;
    img
    {
      height:100%;
      width:100%;
      border-radius: 100%;
    }
  }
}
.definitions
{
  width:100%;
  padding: 60px;
  .col-md-6
  {
    padding:40px 0px 0px 30px;
  }
  .col-sm-12, .col-xs-12
  {
    padding:10px !important;
    text-align: center;
  }
  h3, p
  {
    color:rgb(145,161,168);
    font-weight:400;
  }
  h3
  {
    font-size:20px;
  }
  h4
  {
    font-size: 22px;
  }
  p
  {
    font-size: 16px;
    line-height: 40px;
  }
  .demo-btn
  {
    border-radius: 4px;
    width:160px;
    background:#f69679;
    margin-top:50px;
    margin-left:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover
    {
      cursor:pointer;
    }
  }
}
.more-blocks
{
    width:100%;
    background:#f6f6f4;
    padding:100px;
    h1
    {
      color:#abbcc3;
      font-size:40px;
    }
    .col-md-6
    {
      h3
      {
        font-size:20px;
        color:#abbcc3;
      }
    }
    .box
    {
      width:100%;
      .box-img
      {
        height:290px;
      }
      img
      {
        height:100%;
        width: 100%;
      }
      .box-text
      {
        padding:10px;
        margin-top:-20px;
        height:100px;
        background:white;
        box-shadow: 0px 3px 3px #ccc;
        p,h3
        {
          font-weight: bold;
          color:#9197a8;
        }
      }
    }
}
.footer
{
  text-align: center;
  padding:100px;
  width:100%;
  background:#83d7da;
  p
  {
    font-size:14px;
    font-weight: bold;
    line-height: 30px;
    color:white;
  }
  img
  {
    display: block;
    margin:40px auto;
  }
  h3
  {
    font-size:30px;
    text-align: center;
  }
}
@media screen and (max-width:1120px)
{
  .right-container
  {
    display: none;
  }
  .left-text-wrapper
  {

    text-align: center;
    width:100% !important;
    padding:30px !important;
    .download
    {
      height:60px;
      width:190px !important;
      margin:auto;
    }
  }
  .gray-board h1
  {
    font-size:40px;
  }
}
@media screen and (max-width:880px)
{
  .gray-board h1
  {
    font-size: 32px;
  }
}
@media screen and (max-width:580px)
{
  .more-blocks
  {
    padding:0 !important;
  }
  .left-text-wrapper h1
  {
    font-weight: bold;
    font-size:30px !important;
  }
  .footer h3
  {
    font-size:20px;
  }
  .demo-btn
  {
    margin-left: 29% !important;
  }
}
@media screen and (max-width:440px)
{
  .gray-board h1
  {
    font-size: 24px;
  }
  .footer h3
  {
    width:80%;
    font-size:16px;
  }
  .billboard h4, .billboard h1
  {
    width:90%;
  }
}
