<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <script src="scripts/main.js" charset="utf-8"></script>
  <title>Patrick Scott Templates</title>
</head>
<body>
  <div class="video-container">
    <video src="videos/vintage.mp4" controls></video>
    <div class="buy-link" title="Get This Template">
      <p>
        <i class="fas fa-arrow-left"></i>
        Get The Source Code!
      </p>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="sidebar">
    <div class="sidebar-main">
      <h2>Patrick <span class="pop">Scott</span> Templates</h2>
    </div>
    <div class="sidebar-bottom">
      <p>
        A collection of my HTML templates. You may <span class="pop">purchase</span> my templates for
        <span class="pop">$10 USD</span> each. Fill out the form below with your email address and the template you want.
        (One template per purchase!)
      </p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="VLNRRZ9B2KPTU">
        <table>
        <tr><td><input type="hidden" name="on0" value="Pick a Template">Pick a Template</td></tr><tr><td><select name="os0">
        	<option value="Tilted">Tilted $10.00 USD</option>
        	<option value="Vintage">Vintage $10.00 USD</option>
        	<option value="Aura">Aura $10.00 USD</option>
        	<option value="Midnight">Midnight $10.00 USD</option>
        </select> </td></tr>
        <tr><td><input type="hidden" name="on1" value="Email Address">Email Address</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
        </table>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>

  <div class="main-container">
    <div class="grid-container">

      <div title="Midnight" class="grid-box" data-video="videos/midnight.mp4">
        <img src="images/midnight.png" alt="">
        <div class="bottom">
          <h4>Midnight - <i>One-Page</i></h4>
        </div>
      </div>

      <div title="Tilted" class="grid-box" data-video="videos/tilted.mp4">
        <img src="images/tmp1.png" alt="">
        <div class="bottom">
          <h4>Tilted - <i>One-Page</i></h4>
        </div>
      </div>

      <div title="Vintage" class="grid-box" data-video="videos/vintage.mp4">
        <img src="images/tmp2.png" alt="">
        <div class="bottom">
          <h4>Vintage - <i>One-Page</i></h4>
        </div>
      </div>

      <div title="Aura" class="grid-box" data-video="videos/aura.mp4">
        <img src="images/aura.png" alt="">
        <div class="bottom">
          <h4>Aura - <i>Login-Page</i></h4>
        </div>
      </div>

    </div>
  </div>
</body>
</html>
