body
{
  background: #222;
}
div
{
  padding:20px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana;
  width:100px;
  margin:20px;
  border-radius: 10px;
  &:hover
  {
    cursor: pointer;
  }
}
#authorize-button
{
  background: lightblue * 0.5;
}
#signout-button
{
  background: red;

}
