<header>
  <slider></slider>
</header>

<div id="main">
  <div class="wrapper cf">
    <div class="home-featured">
     <div id="filter-container" class="cf">
       <figure ng-repeat="post in posts" class="web" >
        <a href="#!/post/{{$index}}" class="thumb"><img ng-src="{{post.img}}"></a>
       	 <figcaption>
          <a href="#!/post/{{$index}}">
       		     <h3 class="heading">{{post.title}}</h3>
       	  </a>
        </figcaption>
       </figure>

     </div>
    </div>
  </div>
</div>
<!-- ENDS MAIN -->

<footer>
  <div class="wrapper cf">
    <ul  class="widget-cols cf" style="text-align:center;">
      <li class="first-col" style="width:100%;">
        <div class="widget-block" style="width:45%; margin:auto;">
          <h4>ABOUT</h4>
          <p style="font-size:13px">This is a project that demonstrates some of my knowledge of different AngularJS concepts and features such
          as creating custom directives, routing, making http requests, and handling promises.</p>
        </div>
      </li>


    </ul>
    <!-- ENDS widgets -->
    <!-- bottom -->
    <div class="footer-bottom">
      <div style="text-align:center;">Website Template By <a target="_blank" href="http://www.luiszuno.com">luiszuno</a></div>
    </div>
    <!-- ENDS bottom -->
  </div>
</footer>
<!-- ENDS FOOTER -->
