<header>
  <slider></slider>
</header>

<div id="main">
  <div class="wrapper cf">
    <div class="home-featured">
     <div id="filter-container" class="cf">
       <figure ng-repeat="post in posts" class="web">
        <a href="#!/post/{{$index}}" class="thumb"><img ng-src="{{post.img}}"></a>
       	 <figcaption>
          <a href="#!/post/{{$index}}">
       		     <h3 class="heading">{{post.title}}</h3>
       	  </a>
          {{post.title}}
        </figcaption>
       </figure>

     </div>
    </div>
  </div>
</div>
<!-- ENDS MAIN -->

<footer>
  <div class="wrapper cf">
    <ul  class="widget-cols cf">
      <li class="first-col">
        <div class="widget-block">
          <h4>RECENT POSTS</h4>
          <div class="recent-post cf"> <a href="#" class="thumb"><img src="img/dummies/54x54.gif" alt=""></a>
            <div class="post-head"> <a href="#">Pellentesque habitant morbi senectus</a><span> March 12, 2011</span> </div>
          </div>
          <div class="recent-post cf"> <a href="#" class="thumb"><img src="img/dummies/54x54.gif" alt=""></a>
            <div class="post-head"> <a href="#">Pellentesque habitant morbi senectus</a><span> March 12, 2011</span> </div>
          </div>
          <div class="recent-post cf"> <a href="#" class="thumb"><img src="img/dummies/54x54.gif" alt=""></a>
            <div class="post-head"> <a href="#">Pellentesque habitant morbi senectus</a><span> March 12, 2011</span> </div>
          </div>
        </div>
      </li>
      <li class="second-col">
        <div class="widget-block">
          <h4>ABOUT</h4>
          <p>Folder it's completely free this means you don't have to pay anything read license.</p>
          <p>Visit us to find the most beautiful free templates up to date.</p>
        </div>
      </li>

      <li class="fourth-col">
        <div class="widget-block">
          <h4>CATEGORIES</h4>
          <ul>
            <li class="cat-item"><a href="#">Design</a></li>
            <li class="cat-item"><a href="#">Photo</a></li>
            <li class="cat-item"><a href="#">Art</a></li>
            <li class="cat-item"><a href="#">Game</a></li>
            <li class="cat-item"><a href="#">Film</a></li>
            <li class="cat-item"><a href="#">TV</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <!-- ENDS widgets -->
    <!-- bottom -->
    <div class="footer-bottom">
      <div class="left">&copy; Copyright 2012 <a href="#">Company Name</a> All Rights Reserved | Website Template By <a target="_blank" href="http://www.luiszuno.com">luiszuno</a></div>
      <ul id="social-bar" class="cf sb">
        <li><a href="#" class="facebook" title="Facebook">Facebook</a></li>
        <li><a href="#" class="twitter" title="Twitter"></a></li>
        <li><a href="#" class="plus" title="Plus One"></a></li>
      </ul>
    </div>
    <!-- ENDS bottom -->
  </div>
</footer>
<!-- ENDS FOOTER -->
