<div id="main">
  <div class="wrapper cf">
    <!-- portfolio content-->
    <div id="portfolio-content" class="cf">
      <!-- project box -->
      <div id="project-box" class="cf">
        <!-- slider -->
        <div class="project-slider">
          <div class="flex-slider">
            <ul class="slides">
              <li style="text-align:center;"> <img src="{{posts[id].img}}" style="width:100%; height:350px;"> </li>
            </ul>
          </div>
        </div>
        <!-- ENDS slider -->
        <div class="info">
          <p><strong>Author </strong> {{posts[id].author}}</p>
        </div>
        <!-- entry-content -->
        <div class="entry-content">
          <h2 class="heading">{{posts[id].title}}</h2>
          <div class="multicolumn">
            <p>{{posts[id].message}}</p>
          </div>
        </div>
        <!-- ENDS entry content -->
        <!--Comment Box-->
        <div id="comment-box">
            <div><h3>Comments</h3></div>
            <div class="comment" ng-repeat="com in posts[id].comments track by $index">
              <h5>{{com}}</h5>
            </div>
            <div class="suggestion-box comment">
            	<h4><em>Add A Comment</em></h4>
            	<input type="text" class="suggest"  ng-model="newComment">
            	<br>
            	<br>
            	<div title="Submit Comment" class="btn btn-info" id="submit-comment" role="btn" ng-click="addComment(id)">Submit</div>
            </div>
        </div>
        <!--End Comment Box-->
      </div>
      <!-- project pager -->
      <div class="project-pager cf">
        <a class="previous-project" href="#!/post/{{parseMinus(posts[id].id,1)}}">&#8592; Previous Post</a>
        <a class="next-project" href="#!/post/{{parsePlus(posts[id].id,1)}}">Next Post &#8594;</a>
      </div>
      <!-- ENDS project pager -->
      <!-- ENDS project box -->
    </div>
    <!-- ENDS portfolio content-->
  </div>
  <!-- ENDS WRAPPER -->
</div>
